<template>
  <div class="Nav">
    <a to="/">Home</a>
    <a to="/about">About</a>
  </div>
</template>

<script>
  export default class Nav {
    data() {
      return {
        name: "Nav",
        components: {},
        template: this.template(),
        style: this.style(),
        render: this.render.bind(this),
      };
    }

    render() {}
  }
</script>

<style lang="scss">
  .Nav {
    height: 50px;
    line-height: 50px;
    text-align: center;
    a {
      text-decoration: none;
      color: #ffffff;
      &.active {
        color: #fda45e;
      }
    }
  }
</style>
